{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [{
    "files": ["src/**/*.tsx"],
    "options": {
      "tabWidth": 2
    }
  }]
}
